.container {
  max-width: 980px;
  margin: 0 auto;
}

.content {
  background-color: #fff;
}

.height-200 {
  height: 200px;
}

.navigation {
  margin-top: 40px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.profile {
  margin-top: -50%;
}
