<html>
  <head>
    <title>PETBOOK - Dashboard</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
  </head>
  <body>
    <div id="root"></div>
    <script>
      const env = "<%= env %>";
      const remotes = env === 'local' ? {
        'petbook_about': "petbook_about@http://localhost:3002/remoteEntry.js",
        'petbook_photos': "petbook_photos@http://localhost:3005/remoteEntry.js",
        'petbook_wall': "petbook_wall@http://localhost:3006/remoteEntry.js"
      } : {
        'petbook_about': "petbook_about@http://localhost:3002/0.0.0/remoteEntry.js",
        'petbook_photos': "petbook_photos@http://localhost:3005/0.0.0/remoteEntry.js",
        'petbook_wall': "petbook_wall@http://localhost:3006/0.0.0/remoteEntry.js"
      };

      window.__remotes__ = remotes;
    </script>
  </body>
</html>
