@import "./root.css";

.box-wrapper {
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.box-wrapper h4.box-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 4px 16px;
  font-size: 18px;
}

.box-content {
  padding: 4px 16px;
  min-height: 100px;
}
