@import "./root.css";

.button.ant-btn-primary {
  border-color: var(--primary-color);
  background: var(--primary-color);
  color: #fff;
}

.button.ant-btn:hover,
.ant-btn:focus {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.button.ant-btn-primary:hover,
.ant-btn:focus {
  color: #fff;
}
