@import "./root.css";

.post {
  padding: 24px 24px 0px 24px;
  border: 1px solid #efefef;
  margin-bottom: 24px;
}

.author {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
